a:link, a:visited {
		text-decoration: none;
		color: #fa7
	}
a:hover {
		text-decoration: underline; 
		color: #ff2
	}
a:active {
		text-decoration: none;
		color: #faf
	}
body {
	background-image: url("fundocafe.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 100%; 
}
li, ol, ul{
	color: #e91;
}
p {
	color: #ffe;
}
h3 {
	color: #db8;
}
h2 {
	color: #c83;
}
h1 {
	font-size: 200%;
	font-family: verdana;
	color: #da2;
	border: 8px double #8B4500;
}