
body {
	background-color: #00a;
}
a:link, a:visited {
	text-decoration: none;
	color: white; 
}
a:hover {
	text-decoration: underline; 
	color: grey;
}
a:active {
	text-decoration: none;
	color: #faf
}
h1 {
	color: #efef11;
	font-family: verdana
	text-align: center;
}
h2 {
	color: #efef00;
	font-family: arial black
	font-size:60%;
}
h4 {
	color: #efef11;
}
p {
	font-size: 130%;
	color: #efef11;
	text-align: center;
}
#cabecalho {
	background-color: #000099;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
}
#slogan {
	position: relative;
	left: 0%;
	width: 12%;
	height: 100%;
}
#int {
	position: relative;
	width: 88%;
	color: white;
	position: relative;
	left: 12%;
	top: -65%;
}
.itemMenu {
	padding: 1%;
	font-size: 150%;
}
#apresentacao {
	position: absolute;
	width: 100%;
	height: 61%;
	left: 0;
	right:0;
	bottom: 0;
	top: 15%;
}
#corpo {

	text-align: center;
	position: absolute;
	top: 76%;
	left: 10%;
	right: 10%;
	background-color: #444;
}
span {
	font-size: 150%;
}
#img-responsive{
max-width: 1080px;   /* Máximo da largura da imagem */
          width: 100%;
          max-height: 500px;  /* Máximo da altura da imagem */
          min-height: auto;      /* Mínimo da altura, por padrão “auto” */
          background-size:100%;
}