.carousel {
    width: 100%; /* Altera a largura do carousel */
    height: 80%; /* Altera a altura do carousel */
}

td {
	width: 60%;
}
 body {
 	background-color:#cccccc;
 }

 .logo {
 	font-family: arial black;
 }

 .btn {
 	border-color: orange;
 	color:orange;
 }
 .mr-sm-2 {
 	border-color: orange;
 }
 .form-control {
 	border-color: orange;
 }
 .media {
 
 }
 h1 {
 	color: white;
 }
 a {
 	color: white;
 } 
 #book {
 	background-color: #304250;
 }
 hr {
 	background-color: black;
 }
 a:hover {
		text-decoration: none;
		color: #ff791f;
	}