	a:link, a:visited {
		text-decoration: none;
		color: #000
	}
	a:hover {
		text-decoration: underline; 
		color: #00f
	}
	a:active {
		text-decoration: none;
		color: #ffffff
	}
	
	body {
		background-image: url("capa1.jpg");
		background-attachment: fixed;
		background-position: center center;
	}
	#texto {
	position: absolute;
	top: 10%;
	bottom: 6%;
	right: 20%;
	left: 0;
	}

	#cabecalho {
		background-image: url("capa1.jpg");
		position: fixed;
		top: 0;
		left: 0%;
		bottom: 90%;
		right: 0;
	}

	#apoiadores {
		position: absolute;
		left: 80%;
		right: 0;
		top: 10%;
		bottom: 0;

	}
	h1 {
		color: #000;
	}

	h2 {
		color: #000;
		}
	p {
		font-size: 120%;
		color: #ffffff;
	}
	